.main{
    background-color: yellow;
    height: 200px;
    width: 200px;
    text-align: center;
    position: absolute;
    animation-name: example;
    /* animation-duration: 60s; */
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes example {
    0%{
        background-color: red;
        top: 0px;
        left: 0px;
    }
    25%{
        background-color: green;
        right: 0px;
        top: 0px;
    }
    50%{
        background-color: blue;
        right: 0px;
        top: 500px;
    }
    75%{
        background-color: black;
        left: 0px;
        top: 500px;
    }

 
    
}